<!DOCTYPE html>
<html>
    <head>
        <%- include('./common/header.ejs'); %>
    </head>
    <body>
        <h1>Personal Budget Management System</h1>
        <div class="center-align flexi_container">
            <div class="flexi_item">
                <h2>Internal processing error</h2>
                <br>
                <p>We are sorry for the issue you have encountered. You may forward the following error message(s) to our support team. Meanwhile please retry to access the page.</p>
                <br>
                <p><%- include('./common/error.ejs'); %></p>
            </div>  
        </div>
    </body>
</html>