<!DOCTYPE html>
<html>
    <head>
        <%- include('./common/header.ejs'); %>
    </head>
    <body>
        <div class="center-align flexi_container">
            <div class="login_form column_display">
                <h1>Login</h1>
                <div class="error_msg">
                    <%- include('./common/error.ejs'); %>
                </div>
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="User ID" required/><br>
                    <input type="password" name="password" placeholder="Password" required/><br>
                    <input type="submit" value="Submit" />
                </form>
            </div>
            <div class="login_form column_display">
                <h1>Register</h1>
                <form action="/login/new-user" method="GET">
                    <p>No account? Click the register button to make one.</p>
                    <input type="submit" value="Register" />
                </form>
            </div>
        </div>
    </body>
</html>