<!DOCTYPE html>
<html>
    <head>
        <%- include('./common/header.ejs'); %>
    </head>
    <body>
        <h1>Personal Budget Management System</h1>
        <%- include('./common/nav.ejs'); %>
    </body>
</html>