<ul>
    <%
        if (error_msg) {
            if (Array.isArray(error_msg)) {
                confirm_msg.forEach((err) => {
    %>
                    <li><%= err %></li>
    <%
                });
            } else {
    %>
                <li><%= error_msg %></li>
    <%
            }
        };
    %>
</ul>