<meta charset="UTF-8">
<title>Personal Budget App</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">