<nav class="menu_navbar">
    <button class="profile_icon menu_item">Logged on as <%= session.passport.user %></button>
    <a href="/budget" class="menu_item">Home</a>
    <a href="/budget/envelopes" class="menu_item">Envelopes</a>
    <a href="/budget/transactions" class="menu_item">Transactions</a>
    <a href="/logout" class="menu_item">Log Out</a>
</nav>
<nav class="page_navbar">
</nav>